<?xml version="1.0" encoding="utf-8"?>
<RevitAddIns>
  <AddIn Type="Application">
    <Name>Tokyu Yamadome Revit Addin</Name>
    <Assembly>{{AssemblyPath}}</Assembly>
    <AddInId>3777D65A-F446-4042-B132-3AF46BE80ACE</AddInId>
    <FullClassName>Tokyu.Yamadome.RevitAddin.App</FullClassName>
    <VendorId>INKX</VendorId>
    <VendorDescription>Ribbon prototype for Tokyu Construction Production Technology Department yamadome tools.</VendorDescription>
  </AddIn>
</RevitAddIns>

